<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= image_tag current_user.profile_picture.url(:medium) %>
<% current_user.images.each do |img| %>
	<div><%= image_tag img.data.url(:thumb) %></div>
<% end %>
