/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header {
	font-family: Impact;
}

header {
	background-color: #6699FF;
	color: black;
	left: 0;
	position: fixed;
	width: 100%;
	font-size: 150%;
}

nav {
	padding:0;
	margin:0;
	font-size:90%;
}

nav ul {
	display:inline-block;
}

nav li {
	list-style:none;
	float:left;
	text-shadow: 1px 1px 1px #333333;
	padding:2px;
}

nav li:last-child {
	margin-right:10px;
}

.pull-right {
	float:right;
}

nav a {
	text-decoration: none;
}

container#page_content_container {
	position:fixed;
	top: 70px;
	left: 20px;
}
